---
layout: default
---
<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>GiPHouse</h1>
                <h5>{{ site.about }}</h5>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->
<!--
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 himg">
            <img src="{{ "/assets/img/logo.svg" | prepend: site.baseurl }}" class="img-responsive">
        </div>
    </div>
</div>
-->

  {{ content }}
